body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background2.png') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden; /* Hide overflow */
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px; /* Add some padding */
    overflow-y: auto; /* Allow scrolling if content is too large */
    z-index: 2;
}


.logo-container {
    position: absolute;
    right: 30px; /* Align 30px from the right edge */
    top: 20px; /* Align 20px from the top edge */
    z-index: 3; /* Ensure logo is above other elements */
}

.logo {
    max-width: 150px; /* Width of the logo */
    height: auto; /* Maintain aspect ratio */
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}

img {
    max-height: 60vh;
    max-width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    width: 150px; /* Equal width */
    text-align: center;
}

.game-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    width: 150px; /* Example width */
    text-align: center;
    /* Add any other styles that you have for your buttons */
}

#score {
    margin-top: 10px;
    font-size: 20px;
}


/* Adjustments for smaller screens */
@media (max-width: 600px) {
    .logo {
        max-width: 60px;
    }

    img {
        max-height: 30vh;
    }

    .buttons button {
        font-size: 14px;
        padding: 8px 16px;
        width: 120px;
    }

    #score {
        font-size: 18px;
    }
}
